
@using Banka.Models
@model List<Kredi_Borclari>
@{
    ViewBag.Title = "Borc";
}



<div class="container-scroller">
    @Html.Partial("PartialView");
    <div class="main-panel">

            <div class="row ">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Hesaplarım</h4>
                            <div class="table-responsive">
                                <div class="block-controls">
                                    <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </th>
                                            <th> Kredi ID </th>
                                            <th> Kredi Ayı </th>
                                            <th> Kredi Türü </th>
                                            <th> Kredi Bakiye </th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </td>

                                            <td> @item.kredi_id </td>
                                            <td>@item.kredi_ayi </td>
                                            <td>@item.kredi_turu </td>
                                            <td> @item.kredi_miktari</td>


                                            <td> <a href="#" data-id="@item.kredi_id" data-bakiye="@item.kredi_miktari" class="btn btn-info hspSil"> Öde </a>  </td>
                                        </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{

    <script type="text/javascript" src="/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script>
            $(".hspSil").click(function () {

                var sonuc = confirm("Borc Ödensin Mi");

                if (sonuc) {


                    var mstID = $(this).attr("data-id");
                    var bakiye = $(this).attr("data-bakiye");
                  
                        $.ajax(
                            {
                                type: "POST",
                                url: "/Kredi/Sil/" + mstID,
                                success: function () {

                                    alert(bakiye +"bakiye krediniz ödendi.");
                                    window.location.replace("/Kredi/Borc");
                                },
                                error: function () {
                                    alert("silme sırasında hata oluştu");
                                },


                            });
                    


                }
                else {

                    alert("Silme işlemi iptal edildi");
                }

            });




    </script>

}






